<%- include('partials/header'); -%>
<h1>Shorts</h1>

 <% newsposts.forEach(function(apost){ %>
    <h3> <%= apost.title %> </h3>
    <p> <%= apost.description + "..."%> 
     <a href="<%=apost.url%>">READ MORE</a>
 </p>
      <% }); %>
<%- include('partials/footer'); -%>


